<%= form_for @project, url: (@project.new_record? ? projects_path : project_path(@project)), remote: true do |f| %>
  <div class='form-group'>
    <label>Name</label>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <label>Description</label>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-default' %>
<% end %>